.some {
  color: #cc0000;
  border: solid 1px #cc0000;
  border-radius: 10px;
  display: inline;
  transition: 0.2s; }
  .some .some:hover {
    background: #666;
    transition: 0.5s; }
  .some span {
    color: #0000cc;
    font-size: 40px; }

* {
  background: #ccc; }

.some {
  background: #ccc; }
