@media (max-width: 1180px) {
.main-menu > li a {
  padding: 0 10px 15px;
  font-size: 16px;
}
.platform__circles-item {
  width: 200px;
  height: 200px;
}
.platform__circles-small {
  width: 170px;
  height: 170px;
}
.platform__circles-sign {
  font-size: 60px;
  margin-top: 35px;
}
.platform__circles-count {
  font-size: 18px;
}
.platform__circles-text {
  font-size: 14px;
  max-width: 150px;
}
}

@media (max-width: 1030px) {
.footer-bottom__social {
  margin-right: 18px;
}
.footer-middle {
  padding: 0 10px
}
.header__bottom-title {
  font-size: 48px;
  span {
    font-size: 24px;
  }
}
}
@media (max-width: 1000px) {
  .word-wrapper .slick-next {
    right: 10px;
  }
  .word-wrapper .slick-prev {
    left: 10px;
  }
  .header .menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu {
    background: #256CBA;
    li.sub-menu-wrapper:hover {
      padding: 0;
      background: none;
      color: #000;
    }
    .sub-menu-wrapper:hover ul {
      background: none;
      position: relative;
      padding: 0;
    }
    .sub-menu a:hover {
      text-decoration: none;
    }
    .slicknav_nav a:hover {
        background: #1F2A5D none repeat scroll 0 0;
        border-radius: 6px;
        color: #fff;
    }

  }
  .slicknav_btn {
    background: #1F2A5D;
  }
  .slicknav_menu .slicknav_no-text {
    padding-top: 1px;
  }
  .logo {
    display: block;
    float: none;
    margin: 8px auto 4px;
    max-width: 266px;
}
.header__bottom-title {
  padding-top: 80px;
}
.header__bottom-see {
  display: block;
  margin: 50px auto 20px;
}
.platform__circles-item {
  margin-bottom: 22px;
}
.platform-wrapper {
  background-size: cover;
}
.footer-middle__list {
  width: 41%;
  margin-left: 16%;
}
.footer {
  height: auto;
}
}
@media (max-width: 850px) {
  .choose__text,
  .choose__title,
  .platform__title {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-middle__list {
    margin-left: 10%;
    width: 50%;
}
.word__slider-right {
    float: right;
    max-width: 355px;
    padding-right: 20px;
}
.word__slider-img {
    float: left;
    margin-left: 20px;
    margin-top: 22px;
    max-width: 265px;
}
}
@media (max-width: 700px) {
  .footer-middle__list {
    margin-left: 0;
    width: 100%;
}
.header__bottom-title span {
  letter-spacing: 10px;
}

.word__slider-right {
    float: none;
    margin: 0 auto;
    max-width: 375px;
}
.word__slider-img {
    float: none;
    margin: 20px auto;
}
.footer-middle__list {
  float: none;
  margin: 0 auto;
}
.footer-middle__form {
  float: none;
  margin: 30px auto 0;
  border-top: solid 1px #fff;
  border-radius: 10px;
}
.footer-middle__list .footer-middle__list-no-title {
    margin-left: 0;
    margin-right: 72px;
    padding-top: 66px;
}
.footer-middle__list {
  text-align: center;
}
.footer-middle__list > div {
  margin: 0 15px;
  text-align: left;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 3px;
}
.choose__blocks-item {
    display: inline-block;
    margin: 0 5px 14px;
    vertical-align: top;
    width: 180px;
}
}
@media (max-width: 550px) {
  .header__bottom-see.right-btn {
    margin-top: 100px;
  }
  .slick-next, .slick-prev {
      top: 51.5%;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom__social {
    float: none;
    margin: 5px auto 20px;
    max-width: 146px;
    overflow: hidden;
}
.footer-middle__list {
    float: none;
    margin: 0 auto;
    max-width: 302px;
    text-align: left;

    > div {
      margin: 0 13px;
    }
}
.footer-bottom img {
    display: block;
    margin: 5px auto 0;
}
.footer-bottom__social {
    margin: 18px auto 20px;
}
.word__border {
    margin-bottom: 37px;
    width: 300px;
}

}
@media (max-width: 450px) {
  .header__bottom-title {
    letter-spacing: 0;
    span {
      letter-spacing: 0;
    }

  }

  .header__bottom-see {
    font: 20px ArialNarrow,sans-serif;
    height: 62px;
    margin-top: 66px;
    padding-left: 12px;
    padding-top: 15px;
    text-align: left;
    transition: all 0.2s ease 0s;
    width: 300px;
  }
  .right-btn {
    padding-left: 36px;
  }
  .slick-dots {
    margin-top: 80px;
  }
  .slick-next, .slick-prev {
    top: 59%;
}
.right-btn .sprite {
    background-position: -38px -19px;
    margin-right: 38px;
}
.word__slider-right {
  padding: 0 15px;
}
.footer-middle__list > div {
  margin: 0 9px;
}
}
