body {
  color: #ccc;
  background: #fff;
}
.header {
  color: #0000cc;
  background: #ccc;
  font-size: 20px;
  border: solid 2px #00cc00;
}
.content {
  color: #00cc00;
}
.test {
  background: #cc0000;
}
.logo {
  background: #000;
  color: #666;
}
