
.banner {
  background: url(../img/bg.jpg) no-repeat;
  width: 600px;
  height: 600px;
  margin: 30px auto;
  display: block;
  position: relative;
  overflow: hidden;
}
.banner__img {
  position: relative;
}
.banner__title,
.banner__price {
  background: #ff5200;
  display: block;
  border-radius: 50%;
  box-shadow: -5px 0 7px rgba(0,0,0, .17);
  width: 220px;
  height: 220px;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;

}
.banner__title-text,
.banner__price-text {
  font: bold 31px Arial, sans-serif;
  color: #fff;
  width: 100px;
  text-decoration: none;
  padding-top: 75px;
  padding-left: 57px;
  display: block;
  opacity: 0;
}
.banner__price {
  width: 160px;
  height: 160px;
}
.banner__price-text {
  width: 75px;
  padding: 64px 0 0 52px;
}
.bx-wrapper .bx-controls-direction a {
  background: #cc0000;
}


//.bx-wrapper .bx-viewport {
//  background: none!important;
//}
//.bx-viewport {
//  border: medium none;
//  bottom: 15px!important;
//  height: 227px!important;
//  left: 16px!important;
//  margin: 200px auto!important;
//  overflow: hidden;
//  position: relative;
//  width: 151px!important;
//  top: auto!important;
//  background: none !important;
//}
//.bx-wrapper {
//  background: none!important;
//  width: 212px!important;
//  height: 227px!important;
//}
//.bx-wrapper {
//  left: 15px;
//  position: relative;
//  width: 220px;
//  top: -16px!important;
//}
//.bx-wrapper {
//  position: relative;
//  margin: -16px auto 60px!important;
//  padding: 0;
//  max-width: 220px!important;
//}