<footer class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-middle">
    <div class="footer-middle__list">
      <div>
        <h3 class="footer-middle__list-title">Technology</h3>
        <ul>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Demo</a></li>
          <li><a href="#">Engineering Blog</a></li>
        </ul>
      </div>
      <div>
        <h3 class="footer-middle__list-title">Resources</h3>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">White Papers</a></li>
          <li><a href="#">Case Students</a></li>
        </ul>
      </div>
      <div>
        <h3 class="footer-middle__list-title">About us</h3>
        <ul>
          <li><a href="#">Team</a></li>
          <li><a href="#">Investrors</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-middle__list-no-title">

        <ul>
          <li><a href="#">Careers</a><a href="#" class="footer-middle__hiring">We`re Hiring!</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-middle__form">
      <form action="">
        <h3 class="footer-middle__form-request">Request a demo</h3>
        <input type="text" class="footer-middle__form-input" name="footer-name" placeholder="First Name">
        <input type="text" class="footer-middle__form-input" name="footer-last-name" placeholder="Last Name">
        <input type="text" class="footer-middle__form-input" name="footer-organization" placeholder="Organization">
        <input type="text" class="footer-middle__form-input" name="footer-email" placeholder="Email">
        <input type="submit" class="footer-middle__form-submit" value="SUBMIT">
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="#">
      <img src="img/logo-footer.png" alt="">
    </a>
    <span class="footer-bottom__copy">Apixio &copy 2016</span>
    <span class="footer-bottom__copy-small">All rights reserved.</span>
    <ul class="footer-bottom__social">
      <li><a href="#" class="facebook">facebook</a></li>
      <li><a href="#" class="twitter">twitter</a></li>
      <li><a href="#" class="linkedin">linkedin</a></li>
    </ul>
  </div>
</footer>
