<header class="header">
  <div class="header__top">
    <div class="logo">
      <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <nav class="menu">
      <ul class="main-menu clearfix">
        <li><a href="#">Technology</a></li>
        <li class="sub-menu-wrapper">
          <a href="">Solutions</a>
          <ul class="sub-menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Investors & Board</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__bottom clearfix">
    <div class="header__bottom-slider">
      <div>
        <h1 class="header__bottom-title">
          <span>Transforming</span>
          Healthcare Through Data
        </h1>
        <div class="header__bottom-btns">
          <a href="#" class="header__bottom-see">See how our Iris platform works <span class="sprite"></span></a>
          <a href="#" class="header__bottom-see right-btn">Request more information<span class="sprite"></span></a>
        </div>
      </div>
      <div>
        <h2 class="header__bottom-title">
          <span>Transforming</span>
          Healthcare Through Data
        </h2>
        <div class="header__bottom-btns">
          <a href="#" class="header__bottom-see">See how our Iris platform works <span class="sprite"></span></a>
          <a href="#" class="header__bottom-see right-btn">Request more information<span class="sprite"></span></a>
        </div>
      </div>
      <div>
        <h2 class="header__bottom-title">
          <span>Transforming</span>
          Healthcare Through Data
        </h2>
        <div class="header__bottom-btns">
          <a href="#" class="header__bottom-see">See how our Iris platform works <span class="sprite"></span></a>
          <a href="#" class="header__bottom-see right-btn">Request more information<span class="sprite"></span></a>
        </div>
      </div>
      <div>
        <h2 class="header__bottom-title">
          <span>Transforming</span>
          Healthcare Through Data
        </h2>
        <div class="header__bottom-btns">
          <a href="#" class="header__bottom-see">See how our Iris platform works <span class="sprite"></span></a>
          <a href="#" class="header__bottom-see right-btn">Request more information<span class="sprite"></span></a>
        </div>
      </div>
      <div>
        <h2 class="header__bottom-title">
          <span>Transforming</span>
          Healthcare Through Data
        </h2>
        <div class="header__bottom-btns">
          <a href="#" class="header__bottom-see">See how our Iris platform works <span class="sprite"></span></a>
          <a href="#" class="header__bottom-see right-btn">Request more information<span class="sprite"></span></a>
        </div>
      </div>
    </div>
  </div>
</header>
