/*********** fonts *************/
@font-face {
  font-family: 'NerisBlack';
  src: url('../fonts/neris-black-webfont.eot') format('embedded-opentype'),
       url('../fonts/neris-black-webfont.woff') format('woff'),
       url('../fonts/neris-black-webfont.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NerisLight';
  src: url('../fonts/NerisLight.eot') format('embedded-opentype'),
       url('../fonts/NerisLight.woff') format('woff'),
       url('../fonts/NerisLight.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NerisSemiBold';
  src: url('../fonts/NerisSemiBold.eot') format('embedded-opentype'),
       url('../fonts/NerisSemiBold.woff') format('woff'),
       url('../fonts/NerisSemiBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NerisThin';
  src: url('../fonts/NerisThin.eot') format('embedded-opentype'),
       url('../fonts/NerisThin.woff') format('woff'),
       url('../fonts/NerisThin.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
.clear {
  clear: both;
}
* {
  -webkit-font-smoothing: antialiased;
}
a:focus,
a:active {
  outline: none;
  border:none;
}
body {
  min-width: 480px;
  position: relative;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
input:focus,
textarea:focus {
 outline:none;
}
.neris-black {
  font-family: 'NerisBlack';
}
.neris-light {
  font-family: 'NerisLight';
}
.neris-semi-bold {
  font-family: 'NerisSemiBold';
}
.neris-thin {
  font-family: 'NerisThin';
}
/*********** new style ******************/
table.cars table.cars tr td a.need-pay {
  color: #ee0000;
}
table.cars table.cars tr td a.need-pay:hover {
  text-decoration: none;
}
.tab-pop {
    position: absolute;
    right: 11px;
    top: 11px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.mCSB_scrollTools {
    opacity: 0.75;
    width: 1px!important;
}
.menu-space {
  display: block;
  height: 55px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index:100;
  display: none;
}
#myModal6 .modal-content {
    margin: 70px auto;
}
.popover-content {
    padding: 9px 14px;
    width: 400px;
}
.popover {
  max-width: 460px;
  font-family: 'NerisLight';
}
.popover-title {
  font-size: 18px;
}
.who-item {
  cursor: pointer;
}
.pos-item.pre-last.flip {

}
#myModal2 .modal-content {
    margin: 180px auto;
}
#myModal4 .modal-content {
    margin: 180px auto;
}
#myModal5 .modal-content {
    margin: 130px auto;
}
#myModal3 .modal-content {
    margin: 120px auto;
}
#myModal .modal-content {
    margin: 120px auto;
}

/******* end new style *************/
.container-fluid {
  overflow-x: hidden;
}

header .navbar {
  margin-bottom: 0;
}
header .navbar-nav > li {
  padding-top: 5px;
  padding-bottom: 6px;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    position: fixed;
    background: #008200;
    z-index: 100;
}
.menu-wrapper {
    height: 39px;
    background: #008200;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#responsive-menu {
    background: #008200 none repeat scroll 0% 0%;

}
header .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  border-right: solid 1px #fff;
  padding: 4px 34px;
}
header .navbar-nav > li:first-child > a {
  padding-left: 0;
}
header .navbar-nav > li.exit {
    background: #024d02;
    width: 170px;
    text-align: center;
    float: right;
    margin-left: 65px;

}
header .navbar-nav {
    float: left;
    margin: 0;
    width: 100%;
}
header .navbar-nav > li.exit > a, header .navbar-nav > li.exit > a:hover , .navbar-nav > li.exit > a:active, .navbar-nav > li.exit > a:focus {
    background: #024d02 url(../img/enter-icon.png) no-repeat 51px 4px;
    border: none;
    width: 100%x;
    text-align: center;
    padding-left: 64px;
}

header .navbar-nav li .last-menu-item {
  border: none;
}
header .navbar-nav > li > a:hover {
  text-decoration: underline;
  background: none;
}
header .navbar-nav > li > a:focus {
  background: none;
}
header .logo {
  display: block;
  margin-top: 26px;
}
.contact-block {
  float:right;
}
.contact-block .call-us {
    color: #222;
    background: url(../img/phone-icon.png) no-repeat left 9px;
    padding-left: 34px;
    font-size: 29px;
    display: block;
    text-decoration: none;
    margin-bottom: -4px;
}
.contact-block .call-us span {
  font-size: 26px;
}
.contact-block .consult {
  color: #f39c12;
  font-size: 18px;
  text-decoration: none;
  border-bottom: dashed 2px #f39c12;
  float:right;
}
.contact-block .consult:hover {
  border: none;
  border-bottom: dashed 2px transparent;

}
.banner {
  background: url(../img/banner-bg.jpg) no-repeat center center;
  margin-top: 17px;
  min-height: 570px;
  position: relative;
}
.banner-service {
  max-width: 970px;
  min-height: 315px;
  border: solid 8px #008200;
  border-top: 0;
  margin: 66px auto 49px;
  position: relative;
}
.banner .banner-service::after {
  content: '';
  width: 150px;
  height: 8px;
  position: absolute;
  top:0;
  left:0;
  background: #008200;

}
.banner .banner-service::before {
  content: '';
  width: 150px;
  height: 8px;
  position: absolute;
  top:0;
  right:0;
  background: #008200;

}
.banner-service .neris-light {
    color: #fff;
    font-size: 32px;
    text-align: center;
    position: relative;
    top: -20px;
}
.banner-service .neris-light.bottom-text {
    top: -13px;
}
.banner-service h2 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    position: relative;
    top: -20px;
    width: 755px;
    margin: 0 auto;
}
.line {
  background: #008200;
      margin: -6px auto 28px;
  width: 150px;
  height: 8px;
  display: block;
}
.banner-service .bottom-banner {
  text-align: center;
  color: #fff;
  font-size: 26px;
  margin-top: 22px;
  margin-bottom: 0;
}
.banner-service .bottom-banner + .bottom-banner {
  margin-top: -6px;
}
.try-button {
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
    text-decoration: none;
    width: 570px;
    height: 60px;
    box-shadow: 0px 4px 0px 0px #782c0b;
    display: block;
    padding-top: 14px;
    margin: 0 auto;
    text-align: center;
    top: -3px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea9209+32,f1360a+100 */
background: #ea9209; /* Old browsers */
background: -moz-linear-gradient(left, #ea9209 32%, #f1360a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ea9209 32%,#f1360a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ea9209 32%,#f1360a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9209', endColorstr='#f1360a',GradientType=1 ); /* IE6-9 */
}
.try-button:hover {
  background: #ea9309;
  color: #fff;
  text-decoration: none;
}
.try-button:active {
  background: #ea9309;
  top:0px;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}
.try-button:focus {
  text-decoration: none;
  color: #fff;
}
.under-menu {
  max-width: 1140px;
  margin: 0 auto;
  min-height:61px;
}
.line-main {
  width: 230px;
  height: 8px;
  background: #008200;
  margin: 20px auto 50px;
}
.who-needs .section-title {
  padding-top: 40px;
}
.section-title {
  font-size: 40px;
  text-align: center;
}

.who-item {
  width: 200px;
  height: 200px;
  border: solid 1px #222222;
  margin: 0 auto 55px;
  text-align: center;
}
.who-item:active,
.who-item:focus {
  outline: none;
}
.who-item .number {
    font-size: 36px;
    color: #222222;
    margin: 1px 20px;
    line-height: 40px;
    text-align: left;
}
.who-item p {
  font-size: 21px;
}
.after-who {
  font-size: 26px;
  text-align: center;
  color: #222;
  margin-top: 0;
  margin-bottom: 70px;
}
.after-who span {
  color: #008200;
}
.posibilities-content .after-title {
    max-width: 750px;
    font-size: 24px;
    color: #222;
    text-align: center;
    margin: 10px auto;
    line-height: 25px;
}
.posibilities {
  padding-top: 33px;
  background: #f9f9f9;
}
.posibilities-content {
  max-width: 1170px;
  margin: 0 auto 70px;
  text-align: center;
}
.posibilities-content .section-title {
  margin-bottom: 0;
}
.pos-item {
  width: 370px;
  height: 200px;
  display: table;
  position: relative;
  margin-top: 84px;
}
.pos-item .front,
.pos-item .back {
  border: solid 1px #000;
  display: table;
  width: 370px!important;
  height: 200px!important;

}
.pos-text {
  max-width: 305px;
  color: #000;
  font-size: 20px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
.pos-item img {
  position: absolute;
  left:39%;
  top:-40px;
}
.posibilities-content .line-main {
  margin-bottom: 0;
}
.pos-text-small {
  font-size: 18px;
}
.register {
  font-size: 20px;
  color: #eb9a19;
  border-bottom: dashed 2px #ea9309;
}
.register:hover {
  text-decoration: none;
  color: #eb9a19;
  border-bottom: dashed 2px transparent;
}
.register:active,
.register:focus {
  color: #eb9a19;
  border-bottom: dashed 2px #ea9309;
}
.pre-last {
  float:right;
}
.pos-text-small {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 35px 10px 0;
}
.hovered {
    background: #f9f9f9 none repeat scroll 0 0;
    left: 1px;
    position: absolute;
    width: 364px;
    top: 35px;
    display: none;
}
.pos-item:hover .hovered {
  display: block;
}
.count {
  background: url(../img/count-bg.jpg) no-repeat center center;
  max-height: 1000px;
}
.count-content {
  max-width: 1170px;
  margin: 45px auto;
  position: relative;
}
.count-content .section-title {
  color: #fff;
}
.count-content .text {
  color: #fff;
}
.count-content .sign {
  color: #ea9309;
}
.middle-rhombus {
    max-width: 460px;
    position: relative;
    margin-left: 298px;
    margin-top: 86px;
}
.middle-rhombus::after {
    content: '';
    background: url(../img/rhombus.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 265px;
    height: 265px;
    display: block;
    position: absolute;
    left: 87px;
    top: -38px;
}
.middle-rhombus .text {
  float: right;
  max-width: 260px;
  font-size: 20px;
}
.middle-rhombus .sign {
  font-size: 60px;
}

.small-rhombus {
    position: absolute;
    width: 283px;
    right: 46px;
    top: 192px;
    /* margin-top: 0; */
}
.small-rhombus::after {
    content: '';
    background: url(../img/rhombus.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 162px;
    height: 163px;
    display: block;
    position: absolute;
    left: -9px;
    top: -16px;
}
.small-rhombus .sign {
  font-size: 40px;
}
.small-rhombus .text {
    float: right;
    max-width: 216px;
    font-size: 15px;
    margin: -5px 23px;
}
.big-rhombus {
  max-width: 600px;
}
.big-rhombus::after {
    content: '';
    background: url(../img/rhombus-big.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 385px;
    height: 405px;
    display: block;
    position: absolute;
    left: 20px;
    top: 217px;
}
.big-rhombus .sign {
    font-size: 65px;
    margin-top: 14px;
}
.big-rhombus .text {
    font-size: 28px;
    max-width: 495px;
    float: right;
    margin-top: 39px;
    margin-right: 5px;
}
.small-rhombus-2 {
    margin: 205px 0 0 298px;
    max-width: 350px;
    position: relative;
}
.small-rhombus-2::after {
    content: '';
    background: url(../img/rhombus-small-2.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 162px;
    height: 163px;
    display: block;
    position: absolute;
    left: 54px;
    top: -16px;
}
.small-rhombus-2 .sign {
  font-size: 40px;
}
.small-rhombus-2 .text {
    font-size: 15px;
    max-width: 220px;
    margin: -5px 4px 0 0;
    float: right;
}
.biggest-rhombus {
    max-width: 550px;
    position: relative;
    right: -635px;
    top: -229px;
}
.biggest-rhombus::after {
    content: '';
    background: url(../img/rhombus-biggest.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 435px;
    height: 440px;
    display: block;
    position: absolute;
    left: 4px;
    top: -76px;
}
.biggest-rhombus .sign {
  font-size: 72px;
}
.biggest-rhombus .text {
    font-size: 32px;
    max-width: 280px;
    float: right;
    margin-top: 39px;
    margin-right: 6px;
}
.get-acces {

}
.try-button.get-acces {
    width: 770px;
    position: relative;
    top: -115px;
}
.try-button.get-acces:active {
  top:-113px;
}
.watch-content .watch-text {
  text-align: center;
  font-size: 24px;
}
.watch-content .watch-text a {
  color: #3366bb;
  font-family: 'NerisSemiBold';
  text-decoration: underline;
}
.watch-content .watch-text a:hover {
  text-decoration: none;
}
.video-wrap {
  max-width: 1134px;
  margin: 0 auto -15px;
  background: url(../img/hands.png) no-repeat center center;
}
.video-container {
    position: relative;
    padding-bottom: 65.25%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 708px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 737px;
    max-height: 535px;
}
.watch-content .line-main {
    margin: 20px auto 33px;
}
.watch-content .section-title {
  margin-bottom: 0;
  margin-top: 60px;
}
.watch-content {
  overflow: hidden;
}
.slider-content .get-acces.try-button {
  top:0;
}
.slider .carousel-indicators {
  display: none;
}
.slider-content .get-acces.try-button:active {
  top: 2px;
}
.slider {
  background: #f9f9f9;
}
.slider-item {
  max-width: 970px;
  max-height: 432px;
  border: solid 4px #008200;
  text-align: center;
  margin: 0 auto;
  background: #fff;
}
.slider-content {
  max-width: 1170px;
  margin: 41px auto 70px;
}
.slider-title {
  font-size: 22px;
  margin: 15px 0;
}
.slider-text {
  max-width: 790px;
  font-size: 18px;
  margin: 0 auto;
}
.slider .glyphicon-chevron-left:before {
    content: "\e079";
    font-size: 55px;
    color: #abaaaa;
    text-shadow: none;
}

.slider .glyphicon-chevron-right:before {
  content: "\e080";
  font-size: 55px;
  color: #abaaaa;
  text-shadow: none;
}
.slider .carousel-control .glyphicon-chevron-left,
.slider .carousel-control .glyphicon-chevron-right {
  top: 46%;
}
.slider .carousel-control .glyphicon-chevron-left {
  margin-left: -34px;
}
.slider-item img {
  padding: 10px 0;
}
.slider-name {
  font-size: 20px;
  margin-bottom: 0;
}
.slider-spec {
  font-size: 18px;
}
.slider .carousel-control {
  background: none;
}
.reg-now-text {
  font-size: 24px;
  color: #222;
  text-align: center;
  padding: 47px 0 4px;
}
.left.carousel-control {
  left: -35px;
}
.right.carousel-control {
  right: -35px;
}

footer {
  background: url(../img/footer-bg.jpg) no-repeat center center;
  height: 749px;
}
.footer-content {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
footer .section-title {
  color: #fff;
  margin-top: 0;
  padding-top: 60px;
  margin-bottom: 0;
}
footer .watch-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
footer .contacts-wrapper {
    float: right;
    padding-top: 107px;
    padding-right: 114px;
}
.contacts-wrapper p {
  font-size: 24px;
  color: #fff;
}
.contacts-wrapper a,
.contacts-wrapper a:hover {
  color: #fff;
}
footer ul {
  overflow: hidden;
  padding: 0;
}
footer ul li {
  float:left;
  margin-right: 0;
  list-style: none;
}
footer ul li a {
  background: url(../img/social-sprite.png) no-repeat;
  display: block;
  width: 50px;
  height: 34px;
}
footer ul li a:hover {
  background-position: 0 -46px;;
}
footer ul li a.fac {
  background-position: -63px 0;
}
footer ul li a.fac:hover {
  background-position: -63px -45px;
}
footer ul li a.od {
  background-position: -118px 0;
}
footer ul li a.od:hover {
  background-position: -117px -45px;
}
footer ul li a.tube {
  background-position: -170px 0;
}
footer ul li a.tube:hover {
  background-position: -169px -44px;
}
footer ul li a.twit {
  background-position: -227px 0;
}
footer ul li a.twit:hover {
  background-position: -225px -45px;
}
.form-wrapper {
  border: solid 8px #008200;
  border-top: none;
  padding: 18px 40px;
  position: relative;
  max-width: 469px;
  margin-left: 100px;
}
.form-wrapper::before {
  content: '';
  width: 46px;
  height: 8px;
  display: block;
  background: #008200;
  position: absolute;
  top:0;
  left:0;
}
.form-wrapper::after {
  content: '';
  width: 46px;
  height: 8px;
  display: block;
  background: #008200;
  position: absolute;
  top:0;
  right:0;
}
.form-wrapper > h3 {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-top: -32px;
  margin-bottom: 0;

}
.form-wrapper > p {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-top: 0;

}
.form-wrapper form p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2px;
  margin-top: 8px;
  padding-right: 114px;
}
.form-wrapper form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
}

.form-wrapper form textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 5px;
  height: 120px;
}
.form-wrapper form button.try-button {
  width: 100%;
  margin-top: 15px;
  border:none;
  font-size: 22px;
  padding-top: 1px;
  height: 48px;
}
.footer-bottom {
  background: #222;
  min-height: 70px;
  position: relative;
  top: 62px;
}
.footer-bottom p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 19px;
}

.modal-content {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 0 20px;
}
.modal-content h4 {
  text-align: center;
  font-size: 26px;
  padding-top: 15px;
  color: #222
}
.modal-header .close {
    margin-top: -2px;
    opacity: 1;
    margin-right: -25px;
}
.modal-content form {
  padding: 0 40px;
}
.modal-content form p {
  font-size: 18px;
  color: #222;
  margin-bottom: 2px;
  margin-top: 15px;
}
.modal-content form input {
  border: solid 1px #ccc;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
}
.modal-content form textarea {
  border: solid 1px #ccc;
  height: 120px;
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  resize: none;
}
.modal-content form a {
    background: rgba(0, 0, 0, 0) url("../img/forget-icon.png") no-repeat scroll left center;
    color: #898989;
    display: block;
    font-size: 14px;
    padding: 23px 5px 23px 30px;
    text-decoration: none;
    float:left;
}
.modal-content form a:active,
.modal-content form a:focus {
  text-decoration: none;
  color: #fff;
}
.modal-content form a:hover {
  text-decoration: underline;
}
.modal-content form .try-button {
    border: medium none;
    float: right;
    height: 40px;
    margin-top: 15px;
    padding-top: 0;
    width: 140px;
}
.modal-footer p {
  font-size:20px;
  text-align: center;
  color: #222;
}
.modal-footer a {
  text-align: center;
  display: block;
  width: 222px;
  margin: 0 auto;
}
.modal-content .step {
    color: #818181;
    font-size: 16px;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}
.modal-content .your-data {
  color: #898989;
  font-size: 14px;
  text-align: center;
  float:none;
}
.modal-content form .try-button.get-code {
  width: 100%;
  float: none;
}
#myModal2 .modal-content form p {
    margin-top: 4px;
}
/*********************** cabinet **************************************************************************/
.cabinet-header .navbar .container {

}
.cabinet-header .navbar-nav > li:first-child > a {
    padding-left: 40px;
}
.cabinet-header .navbar-nav li a {
  background: url(../img/menu-sprite.png) no-repeat;
}
.cabinet-header .navbar-nav li a.logo-menu {
    background: none;
    margin: 0;
    padding: 3px 105px 0 0;
}
.cabinet-header .navbar-nav li a.obj,
.cabinet-header .navbar-nav li a.obj:hover {
  background: url(../img/menu-sprite.png) no-repeat 0 -5px;

}
.cabinet-header .navbar-nav li a.req, .cabinet-header .navbar-nav li a.req:hover {
    background: url(../img/menu-sprite.png) no-repeat 27px -58px;
    padding-left: 60px;
}
.cabinet-header .navbar-nav li a.services, .cabinet-header .navbar-nav li a.services:hover {
    background: url(../img/menu-sprite.png) no-repeat 29px -108px;
    padding-left: 62px;
    border-right: 1px solid #fff;
}
.cabinet-header .navbar-nav li a.comm, .cabinet-header .navbar-nav li a.comm:hover {
    background: url(../img/menu-sprite.png) no-repeat 30px -160px;
    padding-left: 61px;
}
.cabinet-header .navbar-nav li a.plag, .cabinet-header .navbar-nav li a.plag:hover {
    background: url(../img/menu-sprite.png) no-repeat 32px -212px;
    border: none;
    padding-left: 69px;
}
.cabinet-header .navbar-nav li a.profile, .cabinet-header .navbar-nav li a.profile:hover {
    background: url(../img/menu-sprite.png) no-repeat 11px -256px;
    border: none;
    width: 166px;
    padding: 3px 3px 5px 46px;
}
.cabinet-header .navbar-nav li.prof a.profile:hover,
.cabinet-header .navbar-nav li.dropdown.open.prof a.profile {
  background: #024d02 url(../img/menu-sprite.png) no-repeat 11px -256px;
  border:none;


}
.caret {
    margin-left: 8px;
}
.cabinet-header .navbar-nav li.dropdown.prof {
    margin-left: 73px;
    background: #024d02;
}
.contact-block .call-us-cabinet {
    color: #222;
    background: url(../img/phone-icon.png) no-repeat left 9px;
    padding-left: 34px;
    font-size: 29px;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 12px;
}
.cabinet-header .navbar-nav li.dropdown.prof:hover {
  background: #024d02;
  border:none;

}
.cabinet-header .phone-menu {
  font-size: 22px;
  color: #fff;
  float:right;
}
.cabinet-header .navbar-nav  > li.ser > .dropdown-menu {
    margin-top: 15px;
    padding: 0;
    margin-left: -37px;
}
.cabinet-header .navbar-nav  > li > .dropdown-menu {
    margin-top: 15px;
    padding: 0;
}
.cabinet-header .navbar-nav li ul {
  background: #008200;

}
.cabinet-header .navbar-nav li ul::before {
  content: ' ';
  position: absolute;
  left:45%;
  top:-12px;
  height: 0;
  width: 0;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  border-bottom: solid 12px #008200;

}
.cabinet-header .navbar-nav li ul li a{
    background: #008200;
    color: #fff;
    font-size: 18px;
}
.cabinet-header .navbar-nav li ul li a.exit-menu{
    background: #008200 url(../img/menu-sprite.png) no-repeat 81px -294px;
    color: #fff;
    font-size: 18px;
}
.cabinet-header .navbar-nav li ul li a.exit-menu:hover {
    background: #024d02 url(../img/menu-sprite.png) no-repeat 81px -294px;
}
.cabinet-header .navbar-nav li ul li a:hover {
  background: #024d02;
}
.info-block {
  height: 150px;
  width: 100%;
  background: #f9f9f9;
  text-align: center;
  margin: 0 auto 70px;
  position: relative;
}
.info-block .close-info-block {
  position: absolute;
  top: 5px;
  right: 12px;
}
.under-menu .sticky .logo {
    background: #fff;
    top: 13px!important;
    z-index: 200;
    padding: 7px 5px;
}
.info-block .close-info-block:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.info-block h2 {
  padding-top: 42px;
  font-size: 48px;
}
tr > .right-cell.bonus {
  margin-right: 70px;
}
tr > .right-cell.phone-tab {
  margin-right: 30px;
}
tr > .right-cell.ex {
  margin-right: 3px;
}
table {
  border: solid 1px #ccc;
  width: 570px;
  height: 145px;
  font-size: 20px;
  -webkit-box-shadow:  0 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow:  0 0 1px 1px rgba(0, 0, 0, .1);
}
.fill {
  background: #f7f7f7;
}
.right-cell {
  float:right;
  padding-right: 12px;
}
td {
  padding-left: 14px;
}
.end-sign {
  max-width: 300px;
  margin: 0 auto;
}
.end-sign .title-action {
  font-size: 20px;
  color: #222;
  border-bottom: solid 1px #222;
  display: inline-block;
}
.end-sign > p {
  font-size: 36px
}
.end-sign > p > span {
  font-size: 20px
}
.cab-button {
  font-size: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 0px 0px #782c0b;
  border-radius: 5px;
  width: 280px;
  height: 41px;
  display: block;
  margin: 0;
  text-decoration: none;
  color: #fff;
  padding-top: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea9309+0,ea9309+24,f1370a+100 */
background: #ea9309; /* Old browsers */
background: -moz-linear-gradient(top,  #ea9309 0%, #ea9309 24%, #f1370a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ea9309 0%,#ea9309 24%,#f1370a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ea9309 0%,#ea9309 24%,#f1370a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9309', endColorstr='#f1370a',GradientType=0 ); /* IE6-9 */

}
.cab-button:hover,
.cab-button:focus {
  background: #ea9209;
  text-decoration: none;
  color: #fff
}
.cab-button:active {
  top: 3px;
  box-shadow: none;
}
table.cars {
  margin-top: 70px;
  width: 365px;
  height: 200px;
  position: relative;
  border-collapse: collapse;
  position: relative;
}
table.cars td {
    border: solid 1px #ccc;
    text-align: center;
    font-size: 15px;
    padding: 0px 23px 0px;
    height: 45px;
}
table.cars table.cars {
  border:none;
  box-shadow: none;
  margin-top: 0;
  border-collapse: collapse;
}
table.cars table.cars tr td {
  padding-left: 14px;

}
table.cars table.cars tr td.vin-check {
    padding-left: 14px;
    width: 127px;
}
tr.fill td.favor {
    width: 128px;
}
table.cars table.cars tr td.date-com {
    padding-left: 14px;
    width: 135px;
}
table.cars .scroll td {
  padding: 0;
}
table.cars .forget {
  position: absolute;
  right:10px;
  top: 10px;
}
table.cars .top-title {
    font-size: 20px;
    height: 60px;
    padding: 0 45px;
}
.fill .avto {
  width: 230px;;
}
table.cars table.cars tr .with-icons {
    width: 229px;
    text-align: left;
    position: relative;
    padding: 20px 45px 16px 10px;
}
table.cars table.cars tr .with-icons .change {
  position: absolute;
  right:10px;
  top:25px;
}
table.cars table.cars tr .with-icons .delete {
  position: absolute;
  right:16px;
  top:60px;
  width: 17px;
  height: 17px;
  display: block;
  background: url(../img/icons-sprite.png) no-repeat;
}
table.cars table.cars tr .with-icons .delete:hover {
  background-position: 0 -29px;
}
table.cars table.cars tr .with-sign {
    padding: 0px 42px 0 43px;
    font-size: 20px;
    text-decoration: underline;
    color: #4E7AC4;
    width: 135px;
}
table.cars table.cars tr .with-sign:hover {
  text-decoration: none;
}
table.cars .register {
  font-size: 16px
}
table.cars .new-ask {
  font-size: 16px;
  background: #008200;
}
table.cars .new-ask a {
  color: #fff;
}
table.cars .new-ask a.neris-semi-bold:hover {
  text-decoration: underline;
}
table.cars .new-ask a:hover {
  text-decoration: none;
}
table.cars .vin-check {
  width: 126px;
  text-align: left;
}
table.cars table.cars tr td.vin-date {
    padding-left: 0;
    text-align: center;
    width: 110px;
}
table.cars td.top-date {
    width: 110px;
}

table.cars table.cars tr td a {
  text-decoration: underline;
  color:#3366bb;
}
table.cars table.cars tr td a:hover {
  text-decoration: none;
}
table.cars tr td.date-com a {
  color: #222;
  text-decoration: none;
  font-size: 16px;
}
table.cars table.cars tr td.comm-table a {
  text-align: left;
  color: #4e7ac4;
}
table.cars table.cars tr td.comm-table a:hover {
  text-decoration: none;
  color: #4e7ac4;
}

table.cars table.cars tr td.comm-table {
  text-align: left;
  width: 229px;
}
table.cars table.cars tr .with-icons .delete,
table.cars table.cars tr .with-icons .change {
  display: none;
}
table.cars table.cars tr .with-icons:hover .delete,
table.cars table.cars tr .with-icons:hover .change {
  display: block;
}
table.cars tr td.reg-full {
  padding: 0;
}
table.cars tr td.comm-table.best {
  padding: 10px 66px 10px 10px;
}
table.cars tr td.comm-table.best {
  position: relative;
}
table.cars tr td.comm-table.best .star {
    background: rgba(0, 0, 0, 0) url("../img/icons-sprite.png") no-repeat scroll -33px -2px;
    display: block;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 22px;
    width: 20px;
    outline:none;
}
table.cars tr td.comm-table.best .star.active {
  background-position: -33px -27px;

}
table.cars.viewed tr td.comm-table.best .delete.active {
  background-position: 0 -29px;
}
table.cars.comms table.cars tr td.comm-table {
    width: 100%;
}
table.cars.viewed tr td.comm-table.best .star {
  right:33px
}
table.cars.viewed tr td.comm-table.best .delete {
    background: rgba(0, 0, 0, 0) url("../img/icons-sprite.png") no-repeat scroll 0 0;
    display: block;
    height: 17px;
    position: absolute;
    right: 15px;
    top: 24px;
    width: 17px;
}
table.cars.viewed tr td.comm-table.best .delete:hover {
  background-position: 0 -29px;
}
.cab-button.go-on {
    width: 717px;
    margin: 47px auto 70px;
    height: 62px;
    border-radius: 10px;
    padding-top: 15px;
    font-size: 22px;
}
.pre-footer {
  background: #f9f9f9;;
  padding-top: 50px;
}
.materials {
  width: 100%;
  height: 375px;
  border: solid 1px #ccc;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 7px 22px 22px;
}
.materials h4 {
  font-size: 20px;
}
.materials ul {
  list-style: none;
  padding: 0;
}
.materials ul li a {
  font-size: 18px;
  color: #3366bb;
  text-decoration: underline;
  line-height: 34px;
}
.your-link {
  margin: -7px 0 1px;;
}
.materials ul li a:hover {
  text-decoration: none;

}
.materials.wide-mat h4 {
  text-align: center;
}
.materials.wide-mat p {
  font-size: 18px;
  color: #313131;
}
.materials.wide-mat a {
  font-size: 18px;
  color: #3366bb;
  text-decoration: none;

}
.materials.wide-mat a:hover {
  text-decoration: underline;
}
.materials.wide-mat .what-get {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}
.materials.wide-mat .extra {
  padding-left: 63px;
  color: #222;
  background: url(../img/extra-days.png) no-repeat left center;
}
.materials.wide-mat .extra-money {
  padding-left: 63px;
  color: #222;
  background: url(../img/extra-money.png) no-repeat left center;
}
.materials.wide-mat ul {
  list-style: none;
  padding: 0;
}
.materials.wide-mat ul li {
  float:left;
  margin-right: 15px;
  height: 25px;
  border-radius: 3px;
}
.materials.wide-mat ul li a {
  font-size: 12px;
}
.materials.wide-mat ul li a:hover {
  opacity: 0.8;
}
.statistic .stat-title {
  text-align: center;
  text-decoration: underline;
  color: #222;
}
.statistic .al-table {
  overflow: hidden;
  color: #222;
}
.statistic .al-table span {
  float:right;
}
.statistic .earn {
    overflow: hidden;
    color: #222;
    border-top: solid 1px #e5e5e5;
    padding-top: 15px;
    margin-top: 22px;
}
.statistic .earn span {
  float: right;
  font-size: 26px;
  color: #ea9309;
  margin-top: -5px
}
.statistic .earn span span {
    font-size: 18px;
    padding-top: 13px;
}
.statistic a.get-money {
  text-decoration: none;
  background: #008200;
  color: #fff;
  text-align: center;
  width: 225px;
  height: 40px;
  padding-top: 5px;
  display: block;
}
footer.cabinet-footer {
  background-image: none;
  margin-top: 50px;
  background-color: #222222;
  min-height: 115px;
  max-height: 115px;
  padding-top: 15px;
}
.cabinet-footer .left-foot {
    font-size: 20px;
    color: #fff;
    width: 370px;
}
.cabinet-footer .cent-foot {
  font-size: 26px;
  color: #fff;
  text-align: center;
}
footer.cabinet-footer ul {
    overflow: hidden;
    padding: 0;
    text-align: center;
    display: block;
    width: 250px;
    margin: 0 auto;
}
.cabinet-footer .right-foot {
  font-size: 24px;
  color: #fff;
}
.cabinet-footer .right-float {
  float:right;
  overflow: hidden;
}
.cabinet-footer .right-float a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  float:right;
}
.cabinet-footer .right-float p {
  float: right;
}
.cabinet-footer .right-float a:hover,
.cabinet-footer .right-float a:active,
.cabinet-footer .right-float a:focus {
  text-decoration: underline;
  color: #fff;
}
/************************ end cabinet ************************************************************/
/******************* service ***************************/
.service-page {
    background: rgba(0, 0, 0, 0) url("../img/service-banner.jpg") no-repeat scroll center center;
    margin-top: 28px;
    min-height: 499px;
}
.diagnostic-block.banner-service {
  max-width: 970px;
}
.diagnostic-block.banner-service h2 {
    font-size: 48px;
    width: 900px;
    top: -31px;
    line-height: 59px;
}
.diagnostic-block.banner-service::after {
  content: '';
  width: 25px;
  height: 8px;
  position: absolute;
  top:0;
  left:0;
  background: #008200;

}
.diagnostic-block.banner-service::before {
  content: '';
  width: 25px;
  height: 8px;
  position: absolute;
  top:0;
  right:0;
  background: #008200;

}
.diagnostic-text {
  font-size: 22px;
  color: #fff;
  text-align: center;
  max-width: 845px;
  margin: 0 auto;
  line-height: 27px;
}
.request-service {
  max-width: 970px;
  margin: 0 auto;
}
.request-service input {
  width: 570px;
  height: 50px;
  border: none;
  border-radius: 6px;
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}
.service-page .cab-button {
  width: 370px;
  display: inline-block;
  border: none;
  height: 50px;
  float: right;
  padding-top: 0;
  background: #ea9309;
    background: -moz-linear-gradient(top, #ea9309 0%, #ea9309 24%, #f1370a 100%);
    background: -webkit-linear-gradient(top, #ea9309 0%,#ea9309 24%,#f1370a 100%);
    background: linear-gradient(to bottom, #ea9309 0%,#ea9309 24%,#f1370a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9309', endColorstr='#f1370a',GradientType=0 )
}
.request-service > p {
  color: #c0c0c0;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.request-service > p > span {
  color: #ea9309;
}
.contain ul {
  list-style: none;
  display: inline-block;
  max-width: 275px;
  vertical-align: top;
  padding: 0;
}
.contain .left-part ul:nth-child(2) {
  padding-left: 60px;
  width: 300px;
}
.contain .right-part ul:nth-child(2) {
  padding-left: 32px;
}
.contain ul li {
    font-size: 20px;
    color: #222;
    height: 77px;
    text-align: left;
    line-height: 22px;
    float: left;
    vertical-align: top;
}
.contain ul li span {
  font-size: 26px;
  color: #008200;
}
.service-item {
  width: 370px;
  height: 200px;
  border: solid 1px #000;
  margin-top: 50px;
  text-align: center;
}
.service-item .pos-text {
  display: block;
  margin-top: 30px;
}
.service-item img {
    width: 76px;
    margin: -38px auto 0;
    display: block;
    padding: 1px -13px;
}
.price-block p {
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 48px;
}
.price-block .old-price {
  text-decoration: line-through;
  color:#ccc;
  padding: 0 15px;
}
.price-block .new-price {
  font-size: 48px;
  color: #008200;

}
.price-block .cab-button {
  float:none;
  margin: 0 auto;
  display: block;
  font-size: 22px;
  border:none;
}
.question {
  border-bottom: solid 1px #cccccc;
  position: relative;
}
.faq {
    background: #f9f9f9;
    margin-top: 73px;
    margin-bottom: -50px;
    padding-bottom: 35px;
}
.faq .section-title {
    font-size: 40px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 41px;
}
.question p {
  color: #222;
  font-size: 21px;
  padding-right: 70px;
}
.question .well {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
}
.question  a.btn {
  position: absolute;
  bottom:33px;
  right: 15px;
  outline:none;
}
.question a.btn:active,
.question a.btn:focus {
  outline: none;
  border: none;
}
.ask {
    font-size: 21px;
    color: #222;
    text-decoration: none;
    padding-right: 60px;
    display: block;
}
.ask:focus {
  color: #222;
  text-decoration: none;

}
.ask:hover,
.ask[aria-expanded="true"] {
  color: #eb9a19;
  text-decoration: none;
}

.question a.btn.collapsed {
    position: absolute;
    bottom: 21px;
    right: 15px;
    transform: rotate(180deg);
    outline: none;
}
.faq .register {
    float: none;
    text-align: center;
    display: block;
    width: 219px;
    margin: 30px auto 0;
    font-size: 26px;
    position: relative;
}
.faq .register:active,
.faq .register:focus {
  text-decoration: none;
  color: #eb9a19;
  border-bottom: dashed 2px #eb9a19
}
.diagnostic-block .line {
    margin: -11px auto 10px;
}
.diagnostic-block.banner-service {
  min-height: 233px
}
.contain .section-title {
    margin-top: 61px;
}
.contain .line {
    margin: 22px auto 49px;
}
.service-item .pos-text {
  max-width: 345px;
}
.menu-wrapper .logo {
  display: none;
}
/*********** flip *******************/
.artGroup {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 10px 10px 10px;
  float: left;
}

.artwork {
  display: block;
  width: 100%;
  height: 100%;
}

.artGroup img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border: 1px solid #333;
}

.artGroup .detail {
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.artGroup .detail h3 {
  text-align: center;
  color: orange;
}

.artGroup .detail p {
  text-align: left;
  padding: 0 0.25em;
}


.artGroup.flip {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.artGroup.flip .artwork {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.artGroup.flip .detail,
.artGroup.flip .the<a href="http://www.jqueryscript.net/tags.php?/Flip/">Flip</a> {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.artGroup.flip img,
.artGroup.flip .detail {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.artGroup.slide { overflow: hidden; }

.artGroup.slide .detail { bottom: -364px; }

.menu-wrapper > div {
  display: none;
}

/********* end flip ***************
/******************* end service ***************************/
/***********************************************
************ Respnonsive ***********************
***********************************************/
@media (max-width: 1200px) {

  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
      max-width: 968px;
      margin: 0 auto;
  }
  header .navbar-nav > li.exit {
    background: #024d02;
    width: 164px;
    text-align: center;
    float: right;
    margin-left: 0;
}
  .extra-money {
    margin-bottom: 0px;
  }
/*********** services ***************/
.diagnostic-block.banner-service h2 {
    font-size: 47px;
    width: 888px;
    top: -31px;
    line-height: 59px;
}
.request-service input {
    width: 540px;
}

.contain .left-part ul:nth-child(2) {
    padding-left: 0;
    width: 300px;
}
.left-part {
    float: right;
    width: 265px;
}
.contain .right-part ul:nth-child(2) {
    padding-left: 0;
}
.cent-last {
  margin: 45px auto 0;
}
.cabinet-footer .left-foot {
    font-size: 20px;
    color: #fff;
    width: 333px;
}
/************* end ******* /
  /*********** cabnet ****************/
  header.cabinet-header .navbar-nav > li > a {
      padding: 4px 13px;
  }
  .cabinet-header .navbar-nav > li:first-child > a {
    padding-left: 41px;
}
.cabinet-header .navbar-nav li a.req, .cabinet-header .navbar-nav li a.req:hover {
    background: url(../img/menu-sprite.png) no-repeat 7px -58px;
    padding-left: 41px;
}
.cabinet-header .navbar-nav li a.services, .cabinet-header .navbar-nav li a.services:hover {
    background: url(../img/menu-sprite.png) no-repeat 6px -108px;
    padding-left: 41px;
    border-right: 1px solid #fff;
}
.cabinet-header .navbar-nav li a.comm, .cabinet-header .navbar-nav li a.comm:hover {
    background: url(../img/menu-sprite.png) no-repeat 6px -160px;
    padding-left: 41px;
}
.cabinet-header .navbar-nav li a.plag, .cabinet-header .navbar-nav li a.plag:hover {
    background: url(../img/menu-sprite.png) no-repeat 6px -212px;
    border: none;
    padding-left: 41px;
}
.cabinet-header .navbar-nav li a.profile, .cabinet-header .navbar-nav li a.profile:hover {
    background: url(../img/menu-sprite.png) no-repeat 11px -256px;
    border: none;
    padding-left: 45px;
    width: 160px;
}
.left-side {
  float:right;
}
.materials.wide-mat ul {
    list-style: none;
    padding: 0;
    width: 450px;
}

  /********** end cabinet ***********/
  header .navbar-nav > li > a {

    padding: 4px 23px;
  }
  .biggest-rhombus {
    right: -418px;
}
.big-rhombus .text {
    font-size: 20px;
}
.small-rhombus-2 {
    margin: 205px 0 0 209px;
}
.small-rhombus-2 .text {
    font-size: 14px;
}
.big-rhombus::after {
    width: 355px;
}
.big-rhombus .sign {
    font-size: 56px;
}
.biggest-rhombus::after {
    width: 360px;
}
.biggest-rhombus .text {
    font-size: 24px;
    margin-top: 5px;
}
.biggest-rhombus {
    max-width: 510px;
}
.middle-rhombus {
    margin-left: 220px;
}
.middle-rhombus .text {
    font-size: 18px;
}
.count-content {
    max-width: 956px;
}
.video-container {
    padding-bottom: 77.25%;
}
.watch-content {
  max-width: 980px;
  margin: 0 auto;
}
.video-container iframe, .video-container object, .video-container embed {
    top: 7%;
    left: -1px;
    max-height: 542px;
}
footer .contacts-wrapper {
    padding-right: 20px;
}
.form-wrapper {
    margin-left: 20px;
}
.footer-bottom {
    top: 57px;
}
footer.cabinet-footer {
  background-image: none;
  margin-top: 50px;
  background-color: #222222;
  min-height: 115px;
  max-height: 145px;
  padding-top: 15px;
}
}

@media (max-width: 992px) {
  table.cars table.cars tr .with-icons {
    width: 237px;
}
  table.cars table.cars tr .with-sign {
    width: 131px;
}
  .section-title {
    font-size: 36px;
    text-align: center;
}
  header .navbar-nav > li.exit {
    background: #024d02;
    width: 148px;
    text-align: center;
    float: right;
    margin-left: 0;
}

  .extra-money {
    margin-bottom: 10px;
  }
  table.cars table.cars tr .with-sign {
    padding: 0px 36px 0 43px;
    font-size: 20px;
    text-decoration: underline;
    color: #4E7AC4;
}
  /*************** services ***************/
  .service-page .cab-button {
    width: 295px;
    display: inline-block;
    border: none;
    height: 50px;
    float: right;
    padding-top: 0;
    background: #ea9309;
      background: -moz-linear-gradient(top, #ea9309 0%, #ea9309 24%, #f1370a 100%);
      background: -webkit-linear-gradient(top, #ea9309 0%,#ea9309 24%,#f1370a 100%);
      background: linear-gradient(to bottom, #ea9309 0%,#ea9309 24%,#f1370a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9309', endColorstr='#f1370a',GradientType=0 )
  }
  .diagnostic-block.banner-service h2 {
    font-size: 40px;
    width: 700px;
}
.diagnostic-block.banner-service {
    min-height: 255px;
}
.request-service input {
    width: 400px;
}
.cab-button {
  width: 265px;
}
.service-item {
    width: 370px;
    height: 200px;
    border: solid 1px #000;
    margin-top: 50px;
    text-align: center;
    margin: 45px auto 0;
}
.service-item.pre-last {
  float: none;
}
.price-block .cab-button {
    display: block;
    float: none;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 6px;
}
/**************** end ******************/
  /********** cabinet ***************/
  .cabinet-header .navbar-nav li.dropdown.prof {
      margin-left: 0px;
  }
  .cabinet-header .navbar-nav > li.prof  > .dropdown-menu{
      margin-top: 15px;
      padding: 0;
      left: -56px;
  }
  table {
    margin: 0 auto;
}
.end-sign .title-action {
    margin-top: 20px;
}
table.cars {
    width: 350px;
}
.fill .avto {
    width: 221px;
}
table.cars td {
    padding: 0px 17px 0px;
}
table.cars .vin-check {
    width: 122px;
}
table.cars table.cars tr td.comm-table {
    text-align: left;
    width: 233px;
}
table.cars table.cars tr td.vin-date {
    width: 110px;
}
.materials {
    text-align: center;
    margin-bottom: 20px;
}
footer.cabinet-footer {
  background-image: none;
  margin-top: 50px;
  background-color: #222222;
  min-height: 115px;
  max-height: 190px;
  padding-top: 15px;
}
.cabinet-footer .right-float {
    float: right;
    overflow: hidden;
    width: 100%;
}
.materials.wide-mat {
  text-align: left;
}
.cabinet-footer .right-float a {
    float: left;
}
.cabinet-footer .cent-foot {
    text-align: right;
}
footer.cabinet-footer ul {
    float: right;
}
  /*********** end cabinet ***********/
  header .navbar-nav > li > a {
    padding: 4px 16px;
    font-size: 12px;
}
.banner-service .neris-light {
    font-size: 28px;
}
.banner-service h2.neris-semi-bold {
    font-size: 38px;
    width: auto;
}
.pos-item {
    width: 350px;
    height: 220px;
}
.hovered {
    width: 345px;
    height: auto;
}
.banner-service .neris-light {
    font-size: 28px;
    max-width: 695px;
    margin: 0 auto;
}
.count-content {
    max-width: 750px;
}
.small-rhombus {
    position: absolute;
    width: 283px;
    right: auto;
    top: 552px;
    left: 29px;
}
.biggest-rhombus {
    right: auto;
    left: 404px;
    top: -193px;
}
.biggest-rhombus::after {
    width: 290px;
}
.biggest-rhombus .sign {
    font-size: 55px;
}
.biggest-rhombus .text {
    font-size: 15px;
    max-width: 154px;
    margin-top: 5px;
}
.biggest-rhombus {
    max-width: 330px;
}
.biggest-rhombus::after {
    top: -56px;
}
.biggest-rhombus .text {
    margin-top: 16px;
    margin-bottom: 68px;
}
.small-rhombus-2 .text {
    font-size: 12px;
    margin-top: 6px;
}
.try-button.get-acces {
    width: 100%;
}
.video-wrap {
    max-width: 700px;
    margin: 0 auto;
    background: url(../img/hands.png) no-repeat center center;
    background-size: 100% 100%;
}
.video-container {
    position: relative;
    padding-bottom: 65.25%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 440px;
    max-height: 158px;
}
.video-container iframe, .video-container object, .video-container embed {
    top: 3%;
    left: -1px;
    max-height: 355px;
}
.left.carousel-control {
    left: -10px;
}
.right.carousel-control {
    right: -10px;
}
.slider-item {
    max-height: 500px;
}
footer .contacts-wrapper {
    float: right;
    padding-right: 0;
    padding-top: 107px;
}
.form-wrapper > h3 {
    font-size: 30px;
    margin: -42px auto 0;
    max-width: 284px;
}
.form-wrapper > p {
    font-size: 20px;
}
.footer-bottom {
    top: 47px;
}
.footer-bottom p {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 0;
}
.banner-service h2 {
    font-size: 42px;
    width: auto;
}
.cabinet-header .navbar-nav li a.profile, .cabinet-header .navbar-nav li a.profile:hover {
    background: url(../img/menu-sprite.png) no-repeat 2px -256px!;
    border: none;
    padding-left: 31px;
    width: 121px;
}
.cabinet-header .navbar-nav li.prof a.profile:hover, .cabinet-header .navbar-nav li.dropdown.open.prof a.profile {
    background: #024d02 url("../img/menu-sprite.png") no-repeat scroll 1px -256px;
    border: medium none;
}
.cabinet-header .navbar-nav li a.profile, .cabinet-header .navbar-nav li a.profile:hover {
    background: rgba(0, 0, 0, 0) url("../img/menu-sprite.png") no-repeat scroll 1px -256px;
}
header.cabinet-header .navbar-nav > li > a {
    padding: 4px 11px;
}
}
@media (max-width: 768px) {
  .end-sign .cab-button {
    width: 297px;
}
  table.cars table.cars tr .with-icons {
    width: 302px;
}
  .under-menu .sticky .logo {
    display: none;
  }
  .cabinet-header .navbar-nav li ul li a.exit-menu {
    background: #008200 url(../img/menu-sprite.png) no-repeat 40% -294px;
}
.cabinet-header .navbar-nav li ul li a.exit-menu:hover {
  background-position: 40% -294px;
}
  .request-service > p {
    padding-top: 12px;
}
  .service-page .cab-button {
    width: 360px;
  }
  .menu-wrapper > div {
    display: block;
  }
  .tel, tel:active,
  .tel:hover, .tel:focus {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
  }
  header .navbar-nav > li > a {
    border: medium none;
    font-size: 18px;
    text-align: center;
}
  header .navbar-nav > li {
    padding-top: 12px;
}
  .navbar-toggle .icon-bar {
    border-radius: 2px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    width: 34px;
}
.menu-wrapper {
    height: 50px;
    min-width: 480px;
}
  .banner .banner-service::before {
    background: #008200 none repeat scroll 0 0;
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.banner .banner-service::after {
    background: #008200 none repeat scroll 0 0;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}
  header .navbar-toggle {
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 0;
}

  .pos-item .front, .pos-item .back {
      border: 1px solid #000;
      display: table;
      height: 200px !important;
      width: 100%!important;
  }
  .pos-text-small {
    padding: 45px 22px 0;
}
  .middle-rhombus .text {
    margin-top: -57px;
}
.try-button.get-acces:active {
    top: -54px;
}

.get-acces.try-button.neris-black span {
  display: none;
}

  header .navbar-nav > li.exit > a, header .navbar-nav > li.exit > a:hover {
    background: #024d02 url("../img/enter-icon.png") no-repeat scroll 41% 3px;
    border: medium none;
    padding-left: 64px;
    text-align: center;
}
  .header .navbar-nav > li > a {
    border: medium none;
    text-align: center;

}
table.cars table.cars tr td.comm-table {
    text-align: left;
    width: 272px;
}
  table.cars table.cars tr .with-sign {
    padding: 0px 27px 0 43px;
}
  /**************** services ***************/
  .menu-wrapper .logo {
      display: inline-block;
      margin-top: -4px;
      vertical-align: middle;
  }
  .menu-wrapper > div {
    margin: 0 auto;
    width: 335px;
  }
  .service-page .cab-button {
    display: block;
    float: none;
  }

  .diagnostic-block.banner-service h2 {
      font-size: 19px;
      width: 385px;
      line-height: 35px;
  }
  .diagnostic-text {
    padding: 0 10px;
  }
  .diagnostic-block.banner-service {
      min-height: 230px;
      margin-bottom: 15px;
  }
.request-service input {
    width: 100%;
}
.cab-button {
    width: 100%;
    display: block;
    float: none;
    margin: 15px auto 0;
}
.diagnostic-text {
    font-size: 16px;
}
.right-part {
  width: 400px;
  margin: 0 auto;
}
.left-part,
.right-part {
    float: none;
    width: 100%;
    text-align: center;
}
  /***************** end *******************/
  .materials.wide-mat ul {
    width: 443px;
}
.materials.wide-mat ul li {
    margin-right: 6px;
}
  .info-block h2 {
    padding-top: 42px;
    font-size: 40px;
}
  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: -30px;
    background: #008200;
}
#responsive-menu {
    background: #008200;
    margin-top: 49px;
}

  .statistic {
    margin-top: 20px;
  }
  .cabinet-footer .cent-foot {
    text-align: center;
}
footer.cabinet-footer ul {
    float: none;
}
footer.cabinet-footer {
    max-height: 265px;
}
.left-mat {
    height: 305px;
}
.cab-button.go-on {
    width: 450px;
    margin: 47px auto 70px;
    height: 62px;
    border-radius: 6px;
    padding-top: 21px;
    font-size: 15px;
}
.materials.wide-mat {
    text-align: left;
    height: 660px;
}
  .dropdown-menu > li > a.exit-menu {
    margin-bottom: -6px;
  }
  .fill .avto {
    width: 230px;
}
  .left-side {
    float:none;
  }
  .cabinet-header .navbar-nav li a.obj, .cabinet-header .navbar-nav li a.obj:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -5px;
    text-align: center;
}
.cabinet-header .navbar-nav li a.req, .cabinet-header .navbar-nav li a.req:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -58px;
    padding-left: 41px;
    text-align: center;
}
.cabinet-header .navbar-nav li a.services, .cabinet-header .navbar-nav li a.services:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -108px;
    padding-left: 41px;
    border-right: none;
    text-align: center;
}
.cabinet-header .navbar-nav li a.plag, .cabinet-header .navbar-nav li a.plag:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -212px;
    border: medium none;
    padding-left: 41px;
    text-align: center;
}
.cabinet-header .navbar-nav li a.comm, .cabinet-header .navbar-nav li a.comm:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -160px;
    padding-left: 41px;
    text-align: center;
}
.cabinet-header .navbar-nav li a.profile, .cabinet-header .navbar-nav li a.profile:hover {
    background: transparent url("../img/menu-sprite.png") no-repeat scroll 33% -255px;
    border: medium none;
    padding-left: 40px;
    text-align: center;
    width: 100%;
}
.cabinet-header .navbar-nav li.prof a.profile:hover, .cabinet-header .navbar-nav li.dropdown.open.prof a.profile {
    background: #024D02 url("../img/menu-sprite.png") no-repeat scroll 33% -255px;
    border: medium none;
}
.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
    text-align: center;
}
table {
    border: 1px solid #CCC;
    width: 450px;
    height: 145px;
    font-size: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.cab-button {
    width: 360px;
}
header .navbar-nav > li.exit > a, header .navbar-nav > li.exit > a:hover , .navbar-nav > li.exit > a:active, .navbar-nav > li.exit > a:focus {
    background: #024d02 url("../img/enter-icon.png") no-repeat scroll 41% 3px;
    border: none;
    width: 100%x;
    text-align: center;
    padding-left: 0;
}
.end-sign {
    max-width: 300px;
    margin: 0px auto;
    text-align: center;
}
  header {
    display: block;
    height: 170px;
  }
  .under-menu {
    height:135px;
    overflow: visible;
    clear: both;
  }

  .pos-item img {
    left: 44%;
    position: absolute;
    top: -40px;
}
.form-wrapper {
  margin: 30px auto 0;
}
  header .navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
}
header .navbar-toggle {
  margin-top: 3px;
  margin-bottom: 0;
}
#responsive-menu {
  background: #008200;
  width: 100%;
  margin-left: -15px;
}
header .navbar-nav > li:first-child > a {
    padding-left: 16px;
}

header .navbar-nav > li.exit {
    width: 100%;
}
header .logo {
    display: block;
    margin-top: 26px;
    text-align: center;
}
.contact-block {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 280px;
}
.contact-block .consult {
    float: none;
}
.banner-service .neris-light {
    font-size: 24px;
    margin: 0 auto;
    max-width: 455px;
}
.banner-service h2 {
    font-size: 27px;
    width: auto;
}
.try-button {
    font-size: 20px;
    width: 100%;
}
.pos-item {
    height: 220px;
    width: 100%;
}
.hovered {
    height: auto;
    width: 99%;
}
.count-content {
    max-width: 450px;
}

.middle-rhombus {
    margin-left: 0;
    overflow: hidden;
    margin-top: 30px;
}
.middle-rhombus .sign,
.big-rhombus .sign,
.biggest-rhombus .sign,
.middle-rhombus .sign,
.small-rhombus .sign,
.small-rhombus-2 .sign {
    font-size: 40px;
}
.middle-rhombus .text,
.big-rhombus .text,
.biggest-rhombus .text,
.middle-rhombus .text,
.small-rhombus .text,
.small-rhombus-2-rhombus .text {
    font-size: 14px;
}
.big-rhombus::after,
.biggest-rhombus::after,
.middle-rhombus::after,
.small-rhombus::after,
.small-rhombus-2::after {
  display: none;
}
.big-rhombus .text {
    float: right;
    margin-right: 0px;
    margin-top: -56px;
    max-width: 260px;
}
.biggest-rhombus {
    left: 0;
    right: auto;
    top: -193px;
}
.biggest-rhombus .text {
    font-size: 14px;
    margin-top: 5px;
    max-width: 139px;
}
.biggest-rhombus {
    max-width: 450px;
}
.biggest-rhombus .text, .small-rhombus .text, .small-rhombus-2 .text {
    max-width: 260px;
    margin-right: 0;
    margin-top: -55px;
}
.small-rhombus {
    width: 450px;
}
.biggest-rhombus .sign {
    margin-top: 10px;
}


.small-rhombus-2 {
    margin: 141px 0 0;
    overflow: hidden;
    max-width: 450px;
    position: relative;
    top: -33px;
}
.small-rhombus {
    left: 15px;
    max-width: 450px;
    position: absolute;
    right: auto;
    top: 495px;
}
.try-button.get-acces {
    font-size: 18px;
    padding-top: 15px;
    top: -56px;
}
.video-wrap {
    background: rgba(0, 0, 0, 0) url("../img/hands.png") no-repeat scroll center center / 100% 100%;
    margin: 0 auto;
    max-width: 440px;
}
.video-container {
    max-width: 288px;
}
.video-container iframe, .video-container object, .video-container embed {
    left: -1px;
    max-height: 231px;
    top: 3%;
}
.slider-item {
    max-height: 560px;
}
footer .contacts-wrapper {
    float: none;
    margin-bottom: 45px;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
}
footer ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 255px;
}
footer {
    background: rgba(0, 0, 0, 0) url("../img/footer-bg.jpg") repeat-y scroll center center;
    height: auto;
}
header .navbar-nav > li.exit > a, header .navbar-nav > li.exit > a:hover {
    padding-left: 0;
    padding-right: 0;
}
}
