.some {
  color: #cc0000;
  border: solid 1px #0000cc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .some span {
    color: #cc0000;
    font-size: 20px; }

.some {
  background: #ccc; }
