/* Webfont: BrandonGrotesque-Regular */@font-face {
    font-family: 'BrandonGrotesque';
    src: url('BrandonGrotesque-Regular.eot'); /* IE9 Compat Modes */
    src: url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BrandonGrotesque-Regular.woff') format('woff'), /* Modern Browsers */
         url('BrandonGrotesque-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

