/* font-family: "DroidSerifRegular"; */
@font-face {
    font-family: 'droid_serifregular';
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot");
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.woff") format("woff"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifBold"; */
@font-face {
    font-family: 'droid_serifbold';
    src: url("../fonts/DroidSerifBold/DroidSerifBold.eot");
    src: url("../fonts/DroidSerifBold/DroidSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifBold/DroidSerifBold.woff") format("woff"),
    url("../fonts/DroidSerifBold/DroidSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifItalic"; */
@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "DroidSerifBoldItalic"; */
@font-face {
    font-family: "DroidSerifBoldItalic";
    src: url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.eot");
    src: url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.woff") format("woff"),
    url("../fonts/DroidSerifBoldItalic/DroidSerifBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
header {
    background: url(../images/bg-header.jpg);
    background-position: center center;
}
.header-content {
    max-width: 1280px;
    margin: 0 auto;
}
.clear {
    clear:both;
}
.logo {
    float:left;
    padding:26px 56px 0 0;
}
.phone-call {
    padding:73px 0 0 0;
}
.phone-call p {
    font: 100 24px 'open_sanslight', sans-serif;
}
.phone-call a {
    font: 14px 'open_sansbold', sans-serif;
    color: #5ed7fe;
}
.phone-call a:hover {
    text-decoration: none;
}
.header-bottom {
    margin: 138px 0 0 0;
}
.header-bottom h1 {
    font: 60px 'droid_serifregular';
    color:#fff;
    line-height: 43px;
}
.header-bottom h1 span {
    font: 72px 'droid_serifregular';
    color:#aadc70;
}

.header-bottom p {
    color: #fff;
    font: 18px "open_sansregular",sans-serif;
    max-width: 580px;
    padding: 44px 0 55px;
}
.phone {
    width:290px;
    height: 65px;
    color:#838383;
    font: 18px 'open_sanslight', sans-serif;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border:none;
    padding-left: 24px;
    padding-right: 24px;
    vertical-align: top;
}

.get-button {
     background: #00a800 none repeat scroll 0 0;
     border: medium none;
     border-bottom-right-radius: 30px;
     border-top-right-radius: 30px;
     color: #fff;
     cursor: pointer;
     font: 400 18px "open_sansbold",sans-serif;
     height: 67px;
     margin-left: -6px;
     vertical-align: top;
     width: 286px;
    transition:0.2s;
 }
.get-button:hover {
    background: #038603;
    transition:0.2s;
}
.header-bottom form {
    padding-bottom: 110px;
}

.live-now-wrapper {
    background: url(../images/green-bg.jpg);
}
.live-now {
    max-width: 1280px;
    margin: 0 auto;
}
.live-now h2 {
    font: 40px 'droid_serifregular';
    color:#fff;
    text-align: center;
    padding: 67px 0 60px 0;
}
.live-now-item {
    display: inline-block;
    margin: 0 30px 10px 0;
    min-height: 190px;
    overflow: hidden;
    vertical-align: top;
    width: 403px;
}
.live-now-item:nth-child(3n) {
    margin-right: 0;
}
.live-now-item img {
    float: left;
    margin-bottom: 100px;
    margin-right: 15px;
}
.text-live h3 {
    font: 100 24px/30px 'open_sanslight', sans-serif;
    color: #aadc70;
    margin-bottom: 10px;
}
.text-live p {
    font: 14px 'open_sansregular', sans-serif;
    color:#fff;
}
.ground-wrapper {
    background: url(../images/ground-bg.jpg) center bottom no-repeat;
    min-height: 1130px;
}
.ground {
    max-width: 1200px;
    margin: 0 auto;
}
.ground h2 {
    color: #020401;
    font: 40px "droid_serifregular";
    padding: 63px 0 15px;
    text-align: center;
}

.ground-item {
    display: inline-block;
    margin-right: 45px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 363px;
    margin-bottom: 20px;
}
.ground-item:nth-child(3n) {
    margin-right: 0;
}
.ground-item h3 {
    font: bold 24px 'droid_serifregular';
    color:#020401;
    margin-bottom: 10px;
    margin-top: 25px;
}
.ground-item p {
    font: 14px 'open_sansregular', sans-serif;
    color: #727272;
    max-width: 318px;
    margin: 0 auto;
}
.offer {
    max-width: 1220px;
    margin: 0 auto;
}
.offer h2 {
    font: 40px 'droid_serifregular';
    color:#020401;
    text-align: center;
    padding: 67px 0 38px 0;
}
.offer-item {
    display: inline-block;
    max-width: 340px;
    margin-right: 70px;
    vertical-align: top;   
}
.offer-item:nth-child(3n) {
    margin-right: 0;
}
.offer-item img {
    position: relative;
    z-index: 5;
}
.offer-item h3 {
    background: #7eb80e none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: block;
    font: bold 26px "droid_serifregular";
    height: 33px;
    margin: -60px auto 18px auto;
    padding: 10px 40px;
    width: 166px;
    position: relative;
    z-index:10;
}
.offer-item h3.price.blue {
    background: #35c5b4;
}
  .offer-item h3.price.green {
      background: #0e6f04;
  }
.offer-item p {
    color: #020401;
    font: 100 26px/30px "open_sanslight",sans-serif;
    margin: 22px auto 52px;
    text-align: center;
    width: 265px;
}
.leave-phone-wrapper {
    background: url(../images/offer-bg.jpg);
    height: 206px;
}
.leave-phone {
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}
.leave-phone  form {
    float: right;
    margin-top: 70px;
}
 .leave-phone  form .get-button {
     background: #f7941d;
     transition:0.2s;
 }
   .leave-phone  form .get-button:hover {
       background: #d88017;
       transition:0.2s;
   }
.leave-phone-text {
    font: bold 30px 'droid_serifregular';
    width: 450px;
    color:#fff;
    margin-top: 45px;
    float:left;
}
.earn-money {
    max-width: 1240px;
    margin: 0 auto;
}
.earn-money h2 {
    color: #020401;
    font: 40px "droid_serifregular";
    padding: 57px 0 32px;
    text-align: center;
}
.earn-money h3 {
    color: #7eb80e;
    font: 30px 'open_sansregular', sans-serif;
    text-align: center;
    max-width: 965px;
    margin: 0 auto 24px auto;
}
.slider-icons {
    margin-top: 99px;
}
.earn-money p {
    color: #5a5a5a;
    font: 18px 'open_sanslight', sans-serif;
    text-align: center;
    max-width: 1240px;
}
.earn-slider {
    max-width: 1200px;
    margin: 0 auto;
}
.slide-item p {
    display: inline-block;
    vertical-align: top;
    color:#020401;
    font: 16px 'open_sanslight', sans-serif;
    text-align: center;

}
.slide-item p span {
    color: #79b700;
    font: bold 26px 'droid_serifregular';
}
.cost-now {
    width: 190px;
    margin-right: 70px;

}
.first-year {
    margin-right: 70px;
}
.slide-item p.first-year {
    color:#e1d2b8;
    font:bold 18px 'open_sansbold', sans-serif;

}
.slide-item p.cost-later {
    text-align:left;
}
.slide-item p.cost-now {
    text-align:left;
}
/************ slider ********************/
.lslide {
    width: 960px!important;
}
ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 0;
}
.content-slider li{
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 960px;
    margin: 30px auto;
}
.content-slider {
    padding-top: 70px!important;
}
.first-year.other-slides {
    margin-right: 0;
}
/************* end slider ****************/
.slider-icons {
    text-align: center;
}
.slider-icon-item {
    display: inline-block;
    margin-right: 101px;
    max-width: 220px;
    text-align: center;
    vertical-align: top;
}
.slider-icon-item p {
    font: 18px 'droid_serifregular';
    color: #020401;
    margin-top: 10px;
    margin-bottom: 35px;
}
.slider-icon-item:nth-child(4) {
    margin-right: 0;
}
.variants {
    background: url(../images/houses-bg.jpg);
}
.variants-content {
    max-width: 1024px;
    margin: 40px auto;
}
.variants-content h2 {
    color: #fff;
    font: 100 48px "open_sanslight",sans-serif;
    padding: 56px 0 45px;
    text-align: center;
}
.variants-item {
    width: 240px;
    height: 380px;
    border-radius:5px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
    margin-bottom: 96px;
}
.variants-item.orange-block {
    background: #f7941d;
}
.variants-item.light-green-block {
    background: #7eb80e;
}
.variants-item.blue-block {
    background: #35c5b4;
}
.variants-item.green-block {
    background: #0e6f04;
}
.variants-item:nth-child(4) {
    margin-right: 0;
}
.variants-item-content {
    background: #fff;
    width: 240px;
    height: 371px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.variants-item-content img {
    margin: 10px;
    width: 220px;
    border-radius: 5px;
}
.variants-content h3 {
    color:#020401;
    font: bold 20px 'open_sansbold', sans-serif;
    text-align: center;
}
.variants-content p {
    color:#727272;
    font: 14px 'open_sansregular', sans-serif;
    text-align: center;
    width: 175px;
    margin: 0 auto;
}
.kalug-state {
    max-width: 1100px;
    margin: 0 auto;
}
.kalug-state p {
    font: 18px 'open_sanslight', sans-serif;
    color: #5a5a5a;
    text-align: center;
    padding-top: 25px;
}
.kalug-state h3 {
    font: 30px 'open_sansregular', sans-serif;
    color: #7eb80e;
    text-align: center;
    margin-top: 40px;
}
.kalug-state form {
    margin: 38px auto 68px;
    max-width: 630px;
}
.kalug-state form .phone {
    border: solid 1px #ddd;
    height: 63px;
}
.agropark {
    background: url(../images/field-map.jpg) no-repeat top center;
}
.agropark  h2 {
    color:#fff;
    font: 40px 'droid_serifregular';
    text-align: center;
    padding: 60px 0 0 0;

}
.table-block {
    max-width: 1260px;
    margin: 0 auto;
}
.history-map {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    padding-left: 35px;
    margin-top: 505px;
}
.history-item {
    display: inline-block;
    width: 210px;
    margin-right: 30px;
    vertical-align: middle;
}
.history-item p {
    color: #5a5a5a;
    font: 12px 'open_sansregular', sans-serif;
    display: inline-block;
    width: 147px;
}
.history-item:last-child {
    margin-right: 0;
}
.circle {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    margin-right: 20px;
    display: inline-block;
    float:left;
    vertical-align: middle;
}
.circle.green-circle {
    background: #7eb80e;
    margin-top: 4px;
}
.circle.sea-circle {
    background: #35c5b4;
}
.circle.orange-circle {
    background: #fe9121;
}
.circle.blue-circle {
    background: #006ee8;
    margin-top: 22px;
}
.circle.light-blue-circle {
    background: #84b9f4;
    margin-top: 14px;
}
table {
    width: 610px;
    font: 12px 'open_sansregular', sans-serif;
    text-align: center;
    vertical-align: middle;
    color:#1d1d1d;
    border-top: solid 1px #e2e2e2;
}
caption, th, td {
    border-bottom: 1px solid #fff;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}
tr {
    height: 55px;
}
td {
    font-size: 16px;
}
.light-table {
    color:#7c8b8a
}
.row-light-green {
    background:#ecfad3;
    border-bottom: solid 1px #fff;
}
.row-sea {
    background: #dcfaf7;
}
.row-pink {
    background: #ffe9d2;
}
.table-wrapper {
    width: 610px;
    display: inline-block;
}
.table-wrapper:nth-child(2) {
    margin-right: 34px;
}

.see-wrapper {
    border-top: solid 1px #d9d0cc;
    margin-top: 50px;
}

.see h2 {
    color: #020401;
    font: 40px "droid_serifregular";
    margin: 39px 0 15px;
    text-align: center;
}
.see h3 {
    color:#7eb80e;
    font: 30px "open_sansregular", sans-serif;
    text-align: center;
}
.see form .phone {
    border: solid 1px #ddd;
    height: 63px;
}
.see form {
    margin: 30px auto 50px;
    max-width: 630px;
}
#map {
    width: 100%;
    height: 630px;
    position: relative;
    z-index: 5;
}
.place {
    max-width: 1280px;
    margin: 0 auto;
}
.place div {
    display: inline-block;
}
.place h2 {
    color:#fff;
    text-align: center;
    font: 40px 'droid_serifregular';
    max-width: 1280px;
    border-bottom: solid 1px #747572;
    padding: 20px 0 22px 0;
}
.top-map {
    height: 215px;
    background: rgba(0, 0, 0, .8);
    margin-bottom: -215px;
    position: relative;
    z-index: 10;
}
.place h3 {
    display: inline-block;
    width: auto;
    font: bold 90px 'droid_serifregular';
    color: #7eb80e;
    margin-right: 5px;

}
.place h3 + p {
    font:18px 'open_sansregular', sans-serif;
    vertical-align: bottom;
    color:#fff;
    line-height: 20px;
    display: inline-block;
    width: 220px;
    margin-bottom: 25px;
}
.place h3 + p.long-text {
    width: 300px;
}
.place h3 + p.long-text span {
    font: italic 14px 'open_sansregular', sans-serif;
    color: #7eb80e;
}
.place div:nth-child(2) {
    margin-left: 80px;
}
.neighbourhood-wrapper {
    border-bottom: solid 1px #d9d0cc;
}
.neighbourhood {
    max-width: 1220px;
    margin: 0 auto;

}
.neighbourhood h2 {
    color: #7eb80e;
    font: 100 48px "open_sanslight",sans-serif;
    padding: 53px 0 45px;
    text-align: center;
}
.neighbourhood-item {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 20px;
}
.neighbourhood-item:last-child {
    margin-right: 0;
}
.neighbourhood-item  img {
    margin-bottom: 17px;
}
.neighbourhood-item h3 {
    font: bold 36px 'droid_serifregular';
    color:#08273e;
}
.neighbourhood-item .text-border {
    color:#0b293f;
    border-bottom: solid 1px #7eb80e;
    padding-bottom: 16px;
    margin-bottom: 16px;
    font: 16px 'open_sansregular', sans-serif;
}
.neighbourhood-item .text-bottom {
    color:#727272;
    font: 14px 'open_sansregular', sans-serif;
}
.neighbourhood h4 {
    text-align: center;
    font: bold 30px 'droid_serifbold';
    color:#79b700;
    margin-top: 50px;
}
.run-image {
    color: #020401;
    text-align: center;
    font: 20px 'open_sanslight', sans-serif;
}
.run-image + img {
    width: 1007px;
    margin: 0 auto 50px;
    display: block;
}
.get {
    max-width: 1260px;
    margin: 0 auto;
}
.get h2 {
    color: #020401;
    font: 40px "droid_serifregular";
    padding: 40px 0 36px;
    text-align: center;
}
.get-item {
    max-width: 405px;
    text-align: center;
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
}
.get-item:nth-child(3) {
    margin-right: 0;
}
.get-item h3 {
    color: #08273e;
    font: bold 24px "droid_serifbold";
    padding: 17px 0 6px;
}
.get-item p {
    color:#727272;
    font: 14px 'open_sansregular', sans-serif;
}
.get-item p a {
    color:#81b919;
}
.get-item p a:hover {
    text-decoration: none;
}
.comments-wrapper {
    background: #f7f2eb;
    margin-top: 96px;
}
.comments {
    max-width: 1230px;
    margin: 0 auto;

}

.comments h2 {
    color: #020401;
    font: 40px "droid_serifregular";
    padding: 41px 0 6px;
    text-align: center;
}
.comments-slide img {
    border-radius:50%;
    display: inline-block;
    vertical-align: top;

}
.comm-text {
    display: inline-block;
    max-width:525px;
    vertical-align: top;
    margin: 32px 0 0 40px;
}
.comm-text h3 {
    color:#7eb80e;
    font: 100 36px 'open_sanslight', sans-serif;
}
.comm-text h3 + hr {
    background: #7eb80e none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    display: block;
    height: 1px;
    margin: 9px 0 14px;
    width: 140px;
}
.comm-text p {
    color:#727272;
    font: 18px 'open_sansregular', sans-serif;
}
/******************** slider - bottom *********************/
.comments .demo .item .lSSlideOuter .lSPager.lSpg li a::before {
    display: none;

}
.comments .demo .item .lSSlideOuter .lSPager.lSpg li a::after {
    display: none;

}

.slider-border {
    border: 3px solid #fff;
    height: 350px;
    margin: 0 -36px 0 -97px;
    width: 1118px;
}
.comments-slide {
    margin-top: 40px;
}

/******************* end slider - bottom ******************/
.form-bottom-wrapper {
    background: url(../images/footer-bg.jpg);
    height: 698px;
}
.form-bottom {
    max-width: 1070px;
    margin: 0 auto;
}
.form-up {
    padding-top: 80px;
}
.form-up div {
    display: inline-block;
    margin-right: 15px;
    width: 340px;
}
.form-up div:nth-child(3) {
    margin-right: 0;
}
.form-up div p {
    font: bold 24px 'open_sansbold', sans-serif;
    color:#fff;
    margin-bottom: 10px;
}
.form-up div input {
    width: 260px;
    height: 66px;
    border-radius: 50px;
    border:none;
    padding-left:40px;
    padding-right:40px;
    font: 100 24px 'open_sanslight', sans-serif;
    color:#838383;
}
.form-down {
    padding-top: 30px;
}
.form-down p {
    font: bold 24px 'open_sansbold', sans-serif;
    color:#fff;
    margin-bottom: 10px;
}
.form-down textarea {
    border-radius: 30px;
    width: 980px;
    height: 132px;
    resize: none;
    border:none;
    padding-left:40px;
    padding-right:40px;
    font: 100 24px 'open_sanslight', sans-serif;
    color:#838383;
}
.send-message {
    width: 340px;
    height: 65px;
    margin: 30px auto;
    font: bold 24px 'open_sansbold', sans-serif;
    border-radius: 50px;
    display: block;
    border:none;
    background: #00a800;
    color:#fff;
    cursor:pointer;
    transition: 0.2s;
}
.send-message:hover {
    background: #038603;
    transition: 0.2s;
}
footer {
    height: 128px;
    background: rgba(0, 0, 0, .8);
    margin-top: -128px;
}
.footer-content {
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}
.left-footer {
    float:left;
    padding-top: 20px;
}
.footer-logo {
    display: inline-block;
}
.footer-info {
    display: inline-block;
    margin-left: 20px;
}
.footer-info p {
    font: 18px 'open_sanslight', sans-serif;
    color:#fff;
}
.footer-info a {
    font: 18px 'open_sanslight', sans-serif;
    color:#55c4e8;
}
.footer-info a:hover {
    text-decoration: none;
}
.right-footer {
    float:right;
    padding-top: 40px;
}
.footer-social {
    display: inline-block;
}
.copy {
    display: inline-block;
}
.footer-social ul {
    overflow:hidden;
}
.footer-social ul li {
    float:left;
    margin-right: 3px;
}
.footer-social ul li a.soc-fac {
    display: block;
    background: url(../images/social-sprite.png);
    width: 34px;
    height: 34px;
}
.footer-social ul li a.soc-fac:hover {
    background-position: 0 -33px;
}
.footer-social ul li a.soc-tube {
    display: block;
    background: url(../images/social-sprite.png) -33px 0;
    width: 33px;
    height: 34px;
    margin-right: 2px;
}
.footer-social ul li a.soc-tube:hover {
    background-position: -33px -33px;
}
.footer-social ul li a.soc-goog {
    display: block;
    background: url(../images/social-sprite.png) -67px 0;
    width: 33px;
    height: 34px;
}
.footer-social ul li a.soc-goog:hover {
    background-position: -66px -33px;
}
.copy a {
    font: 18px 'open_sanslight', sans-serif;
    color:#55c4e8;
    display: inline-block;
    margin-left: 15px;
}
.copy a:hover {
    text-decoration: none;
}
.error {
    border: solid 1px #e30202!important;
}
.popup_finish {
    font: 15px 'open_sanslight', sans-serif;
    color:#5a5a5a;
}
.popup_finish a {
    background: #00a800 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: block;
    font: 16px "open_sanslight",sans-serif;
    height: 27px;
    margin: 0 auto;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    width: 68px;
}

/************************************** Responsive ***************************************************/
@media (max-width: 1300px) {
    .live-now-item {
        margin: 0 10px 10px 0;
    }
    header {
        padding: 0 10px;
    }
    .live-now-wrapper {
        padding: 0 10px;
    }
    .leave-phone {
        padding: 0 10px;
    }
}
@media (max-width: 1280px) {
    .live-now-item {
        margin: 0 10px 10px 0;
        width: 390px;
    }
    .live-now-blocks {
        text-align: center;
    }
    .live-now-blocks .text-live {
        text-align: left;
    }
    .ground-block {
        text-align: center;
    }

    .ground-item:nth-child(3n) {
        margin-right: 45px;
    }
    .ground-item:nth-child(2n) {
        margin-right: 0;
    }
    .offer-blocks {
        text-align: center;
    }
    .slider-icon-item {
        margin-right: 50px;
    }
    .history-map {
        padding-left: 10px;
    }
    .history-item {
        margin-right: 5px;
    }
    .table-wrapper {
        width: 517px;
        display: inline-block;
    }
    table {
        width: 550px;
    }
    .table-block {
        max-width: 1120px;
        margin: 0 auto;
    }
    .place div:nth-child(2) {
        margin-left: 13px;
    }
    .place h3 + p {
        width: 200px;
    }
    .neighbourhood-block {
        text-align: center;
    }
    .get-block {
        text-align: center;

    }
    .get-item {
        margin-bottom: 30px;
    }
    /*
    .comments .demo {
        margin: 0 auto;
        width: 1112px;
    }
    .slider-border {
        border: 3px solid #fff;
        height: 350px;
        margin: 1px -4px 0 -205px;
        width: 1008px;
    }

    */
    .slider-border {
        border: 3px solid #fff;
        height: 350px;
        margin: 1px -25px 0 -35px;
        width: 896px;
    }

    .footer-content {
        padding: 0 10px;
    }

}
@media (max-width: 1200px) {
    .ground-wrapper {
        min-height: 1500px;
    }
}
@media (max-width: 1120px) {
    .header-top {
        max-width: 605px;
        margin: 0 auto;
    }
    .header-bottom h1 {
        text-align: center;
    }
    .header-bottom p {
        color: #fff;
        font: 18px "open_sansregular",sans-serif;
        max-width: 1000px;
        padding: 43px 0 55px;
        text-align: center;
    }
    .header-bottom form {
        padding-bottom: 110px;
        max-width: 630px;
        margin: 0 auto;
    }
    .leave-phone-text {
        font: bold 20px 'droid_serifregular';
        width: 355px;
        color: #fff;
        margin-top: 64px;
        float: left;
    }
    .slider-icon-item {
        margin-right: 40px;
    }
    .variants-item {
        margin-right: 12px;
    }
    table {
        width: 500px;
    }
    .table-wrapper {
        width: 470px;
        display: inline-block;
    }
    .history-map {
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .place h3 + p {
        width: 157px;
    }
    .neighbourhood-item:last-child {
        margin-right: 20px;
    }
    .neighbourhood-item:nth-child(4n) {
        margin-right: 0;
    }
    .neighbourhood-item {
        margin-right: 25px;
    }
    .slider-border {
        border: 3px solid #fff;
        height: 350px;
        margin: 1px -25px 0 -35px;
        width: 900px;
    }
    .comm-text {
        display: inline-block;
        max-width: 470px;
        vertical-align: top;
        margin: 32px 0 0 40px;
    }
    .form-bottom {
        max-width: 980px;
        margin: 0 auto;
    }
    .form-down textarea {
        width: 899px;

    }
    .form-up div input {
        width: 236px;

    }
    .form-up div {

        width: 313px;
    }
    .table-block {
        max-width: 1012px;
        margin: 0 auto;
    }





}
@media (max-width: 1024px) {
    .leave-phone-text {
        font: bold 20px 'droid_serifregular';
        width: 815px;
        color: #fff;
        float: left;
        text-align: center;
        margin: 25px auto 0;
        display: block;
    }
    .slide-item p.cost-later {
        text-align: left;
        width: 200px;
    }

    .leave-phone form {
        margin: 40px auto;
        width: 720px;
    }

    .slide-item img {
        max-width: 836px;
        margin-left: -116px;
    }
    .slider-icon-item:nth-child(3) {
         margin-right: 0;
     }
    .slider-icon-item:nth-child(4) {
        margin-right: 40px;
    }
    .variants-block {
        text-align: center;
        margin-top: 30px;
    }
    .table-block {
        max-width: 665px;
        margin: 0 auto;
    }
    table {
        width: 660px;
        margin-bottom: 15px;
    }
    .place h3 {
        font: bold 80px 'droid_serifregular';
    }
    .place h3 + p {
        width: 120px;
    }
    .place h3 + p.long-text {
        width: 250px;
    }
    .place h3 + p {
        font: 16px 'open_sansregular', sans-serif;

    }
    .form-up div input {
        width: 337px;
    }
    .form-up div {
        width: 406px;
    }
    .form-down textarea {
        width: 761px;
    }
    .form-up {
        padding-top: 80px;
        text-align: center;
    }
    .form-up {
        padding-top: 17px;
        text-align: center;
    }
    .form-up div p {
        text-align: left;
        margin-left: 20px;
    }
    .form-down {
        padding-top: 6px;
    }
    .demo {
        width: 845px;
        margin: 30px auto;
    }
    #content-slider li {
        margin: 0 84px!important;
        width: 687px!important;
    }
    .cost-now {
        width: 172px;
        margin-right: 10px;
    }
    .first-year {
        margin-right: 10px;
    }
    .slide-item img {
        max-width: 836px;
        margin-left: -80px;
    }
    .neighbourhood-item {
        margin-bottom: 20px;
    }
    .comments .demo {
        margin: 0 auto;
        width: 836px;
    }
    .leave-phone {
        max-width: 820px;
    }




}
@media (max-width: 860px) {
    .header-bottom h1 span {
        font: 70px 'droid_serifregular';
        color: #aadc70;
    }
    .header-bottom h1 {
        color: #fff;
        font: 55px/43px "droid_serifregular";
    }
    .header-bottom {
        margin: 132px 0 0 0;
    }
    .live-now-item {
        margin: 0;
        width: 390px;
    }
    .ground-item {
        margin-right: 10px;

    }
    .ground-item:nth-child(3n) {
        margin-right: 10px;
    }
    .ground-item:nth-child(2n) {
        margin-right: 0;
    }
    .offer-item {
        margin-right: 20px;
    }
    .offer-item:nth-child(2n) {
        margin-right: 0;
    }
    .leave-phone-text {
        font: bold 18px 'droid_serifregular';
        width: 720px;
    }
    .leave-phone form {
        width: 682px;
    }
    .slide-item img {
        max-width: 712px;
        margin-left: -65px;
    }
    .agropark {
        background: url(../images/field-map.jpg) no-repeat top center;
        background-size: 160%;
    }
    .place h3 {
        font: bold 70px 'droid_serifregular';
    }
    .place h3 + p {
        width: 85px;
        font: 12px 'open_sansregular', sans-serif;
    }
    .place h3 + p.long-text span {
        font: italic 12px 'open_sansregular', sans-serif;
        color: #7eb80e;
    }
    .neighbourhood-item:nth-child(3n) {
        margin-right: 0;
    }
    .neighbourhood-item:nth-child(4n) {
        margin-right: 25px;
    }
    .run-image + img {
        max-width: 759px;
        margin: 0 auto 50px;
        display: block;
    }
    .get-item {
        margin-right: 0;
    }
    .neighbourhood-block {
        text-align: center;
        max-width: 750px;
        margin: 0 auto;
    }
    .slide-item p.cost-later {
        text-align: left;
        width: 187px;
    }

}
@media (max-width: 768px) {
    .comm-text p {
        color: #727272;
        font: 14px "open_sansregular",sans-serif;
    }
    .logo {
        float: none;
        padding: 6px 0 0 0;
        display: block;
        max-width: 345px;
        margin: 0 auto -5px;
    }
    .phone-call {
        padding: 0 0 0 0;
        max-width: 208px;
        margin: 0 auto;
    }
    .header-bottom h1 {
        font: 48px 'droid_serifregular';
        color: #fff;
        line-height: 43px;
    }
    .phone {
        width: 185px;
        height: 50px;
        font-size: 16px;
    }
    .get-button {
        height: 52px;
        width: 214px;
        font-size: 16px;
    }
    .header-bottom p {
        padding: 43px 0 17px;
    }
    .header-bottom form {
        padding-bottom: 23px;
        max-width: 450px;
    }
    .header-bottom {
        margin: 90px 0 0 0;
    }
    .ground-wrapper {
        min-height: 2600px;
    }
    .offer h2 {
        padding: 77px 0 0 0;
    }
    .offer-item {
        margin-right: 0;
    }
    .leave-phone form {
        width: 447px;
        margin: 30px auto;
    }
    .leave-phone-text {
        width: 440px;
    }
    .demo {
        width: 455px;
        margin: 30px auto;
    }
    .kalug-state form .phone {
        border: solid 1px #ddd;
        height: 48px;
    }
    .agropark h2 {
        color: #fff;
        font: 40px 'droid_serifregular';
        text-align: center;
        padding: 15px 0 0 0;
    }
    .phone-call a {
        font: 14px 'open_sansbold', sans-serif;
        color: #5ed7fe;
        display: block;
        margin: 10px 0 0 0;
    }
    .leave-phone {
        padding: 0 10px;
        max-width: 450px;
    }

    table {
        width: 450px;
        margin-bottom: 15px;
    }
    .table-block {
        max-width: 450px;
        margin: 0 auto;
    }
    .table-wrapper {
        width: 450px;
        display: inline-block;
        margin-right: 0;
    }
    .see form .phone {
        border: solid 1px #ddd;
        height: 48px;
    }
    .see form {
        margin: 30px auto 50px;
        max-width: 450px;
    }
    .place div {
        display: block;
        margin: 0 auto;
        width: 338px;
    }
    .place div:nth-child(2) {
        width: 338px;
        margin: 0 auto;
    }
    .top-map {
        height: 359px;
        background: rgba(0, 0, 0, .8);
        margin-bottom: -358px;
        position: relative;
        z-index: 10;
    }
    .neighbourhood-block {
        text-align: center;
        max-width: 450px;
        margin: 0 auto;
    }
    .neighbourhood-item:nth-child(2n) {
        margin-right: 0;
    }
    .neighbourhood-item:nth-child(2n+1) {
        margin-right: 25px;
    }
    .run-image + img {
        max-width: 456px;
        margin: 0 auto 50px;
        display: block;
    }
    .table-wrapper:nth-child(2) {
        margin-right: 0;
    }
    .kalug-state form {
        margin: 38px auto 68px;
        max-width: 450px;
    }
    .ground-block {
        text-align: center;
        max-width: 730px;
    }








}
@media (max-width: 700px) {
    .history-map {
        padding-left: 10px;
        margin-bottom: 15px;
        margin-top: 426px;
    }
}
@media (max-width: 580px) {
    .history-map {
        padding-left: 10px;
        margin-bottom: 15px;
        margin-top: 326px;
    }
}
@media (max-width: 520px) {
    .history-map {
        padding-left: 10px;
        margin-bottom: 15px;
        margin-top: 226px;
    }
}
@media (max-width: 480px) {
    .header-bottom h1 {
        color: #fff;
        font: 36px/43px "droid_serifregular";
    }
    .header-bottom form {
        padding-bottom: 23px;
        max-width: 310px;
    }

    .header-bottom h1 span {
        color: #aadc70;
        font: 55px "droid_serifregular";
    }
    .logo a img {
        max-width: 300px;
    }
    .header-bottom {
        margin: 35px 0 0;
    }
    .phone {
        font-size: 12px;
        height: 50px;
        padding: 0 10px;
        width: 111px;
    }
    .get-button {
        height: 52px;
        width: 170px;
        font-size: 12px;
    }
    .live-now h2 {
        font: 30px "droid_serifregular";
    }
    .live-now-item {
        margin: 0;
        width: 300px;
    }
    .text-live h3 {
        font: 100 16px/30px "open_sanslight",sans-serif;
    }
    .ground h2 {
        font: 30px "droid_serifregular";

    }
    .ground-item {
        width: 300px;
    }

    .ground-wrapper {
        min-height: 2760px;
    }
    .offer h2 {
        font: 30px "droid_serifregular";
    }
    .leave-phone {
        max-width: 300px;
    }

    .leave-phone-text {
        width: 300px;
    }
    .leave-phone form {
        margin: 30px auto;
        width: 300px;
    }
    .get-button {
        height: 50px;
    }
    .earn-money h2 {
        font: 30px "droid_serifregular";
    }
    .earn-money h3 {
        font: 24px "open_sansregular",sans-serif;
    }




}